.search-loc {
    display: none;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    background-color: rgba(252, 252, 252, 0.41);
    border-radius: var(--border-radius);
    box-shadow: var(--main-shadow);
}

.search-loc__container {
    padding: 1em;
    text-align: right;
    position: relative;
}

.container__input {
    text-align: left;
}

.material-icons.second.input-icon, .material-icons.error.input-icon {
    position: absolute;
    top: 35%;
    right: 12%;
}

.error-cont {
    width: 100%;
}

.error__container {
    width: 80%;
    max-width: 500px;
    margin: 10% auto;
    padding-bottom: 2em;
    text-align: center;
    background-color: var(--main-background-clr);
    border-radius: var(--border-radius);
}

.error__container p {
    color: var(--darker-accent-clr);
    margin-top: 0;
    margin-bottom: 1em;
}

.error__img {
    width: 30%;
}

.error__label {
    margin-top: 1em;
    padding: 1em;
    position: relative;
}

.error__input {
    width: 70%;
}

.error__divider {
    width: 30%;
    height: 0.1em;
    background-color: var(--main-btn-clr);
    border: none;
    margin-bottom: 1em;
}

@media only screen and (max-width: 230px) {
    .material-icons.second.input-icon {
        top: 20% !important;
    }

    .search-loc__container {
        padding: 0 0.5em !important;
        text-align: right;
        position: relative;
    }
}

