@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700&display=swap');

:root {
    --main-btn-clr: #38CFD9;
    --main-dark-clr: #23424a;
    --main-font: 'Barlow', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.3rem;
    background-image: url("images/clouds2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--main-font);
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 5rem;
    height: 100vh;
    width: 100vw;
}

.main-content {
    grid-area: 1 / 1 / 4 / 5;
}

.search-cont {
    padding: 100px 0;
    color: var(--main-dark-clr);
}


/*
.search-cont__title::before,
.search-cont__title::after{
    content: "";
    height: 0.1em;
    display: inline-block;
    width: 2em;
    background-color: var(--main-dark-clr);
    margin: 0 0.2em 0.2em 0.2em;


}*/




.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    z-index: auto;
}

.search-cont__text {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;
}

.search-cont__title {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 3rem;
    display: inline-block;
    z-index:4;
    text-align: left;
}

.search-cont__image {
    grid-area: 1 / 1 / 2 / 2;
    width: 140px;
    left: 28%;
    top: 12%;
    z-index:2;
    justify-self: right;
}

.search-cont__text p {
    grid-area: 2 / 1 / 3 / 3;
    margin-bottom: 2em;
}

.search-cont__form {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;

    margin: 0 auto 1.5em auto;
    text-align: center;
}

.search-cont__input {
    margin: 0 auto 2em auto;
    width: 50%;
    padding: 0.3em;
    font-size: 1.1rem;

}

.search-cont__btn {
    display: inline-block;
    padding: 0.75em 2.5em;
    background-color: var(--main-btn-clr);
    color: var(--main-dark-clr);
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transition: all 0.2s ease-in-out;
}

.search-cont__btn:hover,
.search-cont__btn:focus {
    transform: scale(1.01);
    background-color: #6ce9f5;
}



.footer {
    grid-area: 4 / 1 / 5 / 5;
    background-color: rgba(0,7,15,0.65);
}
